header {
    background: linear-gradient(90deg, #000000, #ff6f00);
}

.ghost,
.pumpkin {
    position: fixed;
    top: -50px;
    font-size: 2rem;
    z-index: 9999;
    animation: floatDown 12s linear infinite;
    pointer-events: none;
}

.ghost {
    color: #eee;
}

.pumpkin {
    color: orange;
}

@keyframes floatDown {
    0% {
        transform: translateY(-50px) translateX(0);
    }

    100% {
        transform: translateY(100vh) translateX(50px);
    }
}

footer {
    background-color: rgba(0, 0, 0, 0.85);
    color: orange;
}
